@font-face {
  font-family: "Candcu"; /* You can give it a custom name */
  src: url("/Candcu__.ttf") format("truetype");
  /* src: url("/PWHappyChristmas.ttf") format("truetype"); */
  font-weight: normal;
  font-style: normal;
}

body {
  background: #65a5a4;
  color: white;
  font-family: "Candcu";
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
  z-index: 100;
}

.advent-calendar-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.fixed-background {
  background-image: url("/baume-final.png");
  background-size: cover;
  background-position: center bottom;
  width: 90%;
  height: 90vh;
  position: fixed;
  bottom: 0;
  z-index: -1;
  box-shadow: 0px 0px 52px -10px #17665a;
}

.scrollable-content {
  position: relative;
  overflow: auto;
  height: 100%;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    opacity: 1;
  }
  40% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    visibility: none;
  }
}
@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    opacity: 1;
  }
  40% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0;
    visibility: none;
  }
}

ChatGPT To #main {
  text-align: center;
  padding: 1em;
}

.box,
.present {
  width: 100%;
  height: 100%;
}

.article {
  display: inline-block;
  width: 15em;
  height: 15em;
  margin: 0.5em;
  -webkit-perspective: 850px;
  perspective: 850px;
}

.box {
  position: relative;
  background: -webkit-linear-gradient(315deg, #b85f74 50%, #a94b61 50%);
  background: linear-gradient(135deg, #b85f74 50%, #a94b61 50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0;
  transform-origin: 0;
  -webkit-perspective: 850px;
  perspective: 850px;
  text-align: center;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.box h2 {
  position: absolute;
  width: 3em;
  height: 3em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  /* padding: 0.5em; */
  line-height: 3em;
  color: white;
  background: #292654;
  border-radius: 50%;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.15);
  font-family: "Candcu";
  font-size: 43px;
}

.article:hover .box {
  background: -webkit-linear-gradient(315deg, #cd8d9c 50%, #c57c8d 50%);
  background: linear-gradient(135deg, #cd8d9c 50%, #c57c8d 50%);
  -webkit-transform: rotateY(-97deg);
  transform: rotateY(-97deg);
  -webkit-perspective-origin: 0;
  perspective-origin: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.article:hover .box h2 {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.article:hover .bauble {
  -webkit-animation: shake 1.5s;
  animation: shake 1.5s;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.present {
  position: absolute;
  top: 0;
  left: 0;
  background: #0f0e1f;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15),
    inset 0 0 30px 20px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.bauble {
  position: relative;
  width: 4.75em;
  height: 4.75em;
  background: #a94b61;
  margin: 25% auto 0 auto;
  font-size: 2em;
  font-weight: bold;
  line-height: 2.75em;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bauble:after {
  content: "";
  position: absolute;
  top: -5%;
  left: 50%;
  margin-left: -15%;
  width: 30%;
  height: 10%;
  background: inherit;
}
.bauble:before {
  content: "";
  width: 12%;
  height: 20%;
  position: absolute;
  top: -15%;
  left: 52%;
  margin-left: -12%;
  border-radius: 50%;
  border: 0.35rem solid #a94b61;
  z-index: 0;
}
.article:hover .box.closedDoor {
  transform: none;
}
.door-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#adventBoxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
